.main-page{
    height: 800px;
    margin-top: 20px;
}

.search-enter{
    border: 1px solid #383E56;
    color: #383E56;
    /* background: #F0F2EB; */
}

.btn-outline-dark{
    border: 1px solid #383E56;
}

.btn-outline-dark:hover{
    background-color:#383E56 ;
}

.currency-buttons{
    text-align: right; 
    margin: auto; 
    margin-bottom: 10px; 
    padding-right: 36px;
}

.coin-details{
    background: #F0F2EB;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    padding: 20px 50px;
}

h1{
    color: #FB743E;
    font-family: 'Merriweather', serif;
    padding-top: 12px;
    padding-left: 10px;
}

hr{
    border: 1px solide black;
}

.key{
    color: #383E56;
    font-size: 0.8rem;
    font-weight: 700;
    font-family: 'Varela Round', sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
}

.value{
    color: #FB743E;
    font-size: 0.8rem;
    font-weight: bold;
    font-family: 'Varela Round', sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
}

.details{
    margin-top: 20px; 
    margin-left: 50px; 
    margin-right: 50px;
}

h5{
    color: #383E56;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    text-align: left;
    margin-bottom: 0;
    padding-left: 20px;
}

.table-header{
    background: #F0F2EB;
    height: 50px;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    color: #383E56;
    border-radius: 10px;
}

.table-body{
    text-align: center;
    color: #FB743E;
    background: #383E56;
    font-family: 'Varela Round', sans-serif;
    font-size: 1rem;
    font-weight: bolder;
}

.page-item{
    border: none;
    margin: 0 3px;
}

.page-link{
    border: 1px solid #383E56;
    color: #383E56;
    font-weight: bold;
    border-radius: 5px;
}

.page-link:hover{
    background: #383E56;
    color: white;
}

.active-pagination{
    background: #383E56;
    color: white;
}

@media screen and (max-width: 990px) {
    .details{
        margin-left: -20px;
        margin-right: -20px;
    }
  }

@media screen and (max-width: 460px) {
    .details{
        margin-left: -37px;
        margin-right: -37px;
    }
  }

  @media screen and (max-width: 770px){
      .currency-buttons{
          text-align: center;
      }
  }
